[cloudera-manager]
name = Cloudera Manager
baseurl = file:///var/www/html/cm{{ cm.version }}
gpgcheck = 0
[java]
name = java
baseurl = http:///var/www/html/java{{ java.version }}
gpgcheck = 0
[ntp]
name = java
baseurl = file:///var/www/html/ntp
gpgcheck = 0