version: '2'
services:
  bdp-mysql:
    image: mysql:5.6
    volumes:
      - {{ third_party_root }}/mysql/bdp_schemas:/bdp_schemas
      - {{ third_party_root }}/mysql/my.cnf:/etc/mysql/my.cnf
      - {{ third_party_root }}/mysql/mysql_init.sh:/mysql_init.sh
      - {{ third_party_root }}/mysql/data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{mysql.root_passwd}}
      - MYSQL_ALLOW_EMPTY_PASSWORD=no
    network_mode: "host"
    privileged: true
    container_name: onion-mysql
